<div class="color-bg">
  <section class="container py-5">
    <div class="row g-5 align-items-center">
      <div class="col-md-6 col-lg-5">
        <div class="d-flex align-items-center  mb-3">
          <img src="assets/logo.png" alt="MetricASG" height="20" class="me-2">
          <span class="fw-bold text-my-purple">MetricASG</span>
        </div>
        <h1 class="fw-bold  display-6 text-my-purple mb-3">
          Evalúa, mide y mejora el desempeño ASG de tu empresa
        </h1>
        <p class="mb-4  text-justify">
          MetricASG es la herramienta de autodiagnóstico que transforma tus prácticas Ambientales,
          Sociales y de Gobernanza en resultados medibles y un plan de acción claro.
        </p>
        <a routerLink="/login" class="btn btn-my-purple fw-bold rounded-pill px-4 py-2 mt-3">
        <i class="bi bi-rocket-fill"></i> ¡Realizar Autodiagnóstico!
        </a>
      </div>

      <div class="col-md-6 col-lg-7 p-0 d-none d-md-block">
        <div class="container">
          <div class="row g-3">
            <div class="col-lg-6 ">
              <img src="assets/asg1.jpg" class="img-grid1">
            </div>
            <div class="col-lg-6 d-none d-lg-block ">
              <div class="row g-3">
                <div class="col-12">
                  <img src="assets/asg2.jpg" class="img-grid">
                </div>
                <div class="col-12">
                  <img src="assets/asg3.jpg" class="img-grid ">
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>


  <div class="sw-split-flex-ly bg-my-purple text-white">
    <div class="split-margin ">
      <div class="d-flex align-items-start mb-3">
        <div class="sw-all-center">
          <img src="assets/logo.png" alt="MetricASG" height="30" width="30" class="me-2">
          <span class="font-logo text-white">MetricASG</span>
        </div>

      </div>
      <h2 class="fw-bold mb-4">¿Qué es el ASG?</h2>
      <p class="text-justify">
        Es un conjunto de criterios que permiten evaluar el desempeño sostenible y ético
        de una organización.
        <br><br>
        Ayuda a comprender no solo los resultados financieros de una empresa, sino también
        su impacto en el entorno, en las personas y en la forma en que es dirigida.
      </p>
      <a routerLink="/login" class="btn btn-light btn-my-green fw-bold rounded-pill px-4 py-2 mt-3 align-self-start">
        <i class="bi bi-rocket-fill"></i>
        ¡Realizar Autodiagnóstico!
      </a>
    </div>

    <div class="bg-sw-blue split-margi">
      <div class="sw-img-bg text-white" style="--img-url: url('assets/asg1.jpg')">
      </div>

    </div>

    <!--
  <div class="split-left bg-sw-blue py-0 split-right">
    <p class="text-justify">
      Es un conjunto de criterios que permiten evaluar el desempeño sostenible y ético
      de una organización.
      <br><br>
      Ayuda a comprender no solo los resultados financieros de una empresa, sino también
      su impacto en el entorno, en las personas y en la forma en que es dirigida.
    </p>
  </div>
 
  <div class="">
    <div class="sw-img-bg" style="--img-url: url('assets/asg1.jpg')"></div>
  </div>-->
  </div>


  <!-- PILARES ASG -->
  <section class="py-5">
    <div class="container text-center">
      <h2 class="fw-bold text-my-purple mb-4">Pilares ASG</h2>
      <p>MetricASG evalúa los pilares ASG para un diagnóstico preciso.</p>
      <div class="row mt-4 g-4">
        <!-- AMBIENTE -->

        <div class="col-lg-4">
          <div class="sw-title-card bg-my-green text-white border-0 rounded-4">
            <div class="front sw-img-bg" style="--img-url: url('assets/home/cards/ambiental.jpg')">
              <span class="material-icons fs-1">eco</span>
              <h5 class="fw-bold mb-2">Ambiente (A)</h5>
            </div>

            <div class="content sw-v-center px-5 py-5">
              <span class="material-icons fs-5">eco</span>
              <h5 class="fw-bold mb-2"> Ambiente</h5>
              <p class="text-justify">Evalúa cómo la empresa gestiona su impacto en el <b>medio ambiente</b>.
              </p>
              <ul class="mt-3small text-start">
                <li>Uso eficiente de recursos</li>
                <li>Consumo de energía y agua</li>
                <li>Manejo de residuos</li>
                <li>Mitigación del cambio climático</li>
                <li>Huella de carbono</li>
              </ul>
            </div>

          </div>
        </div>

        <!-- SOCIAL -->
        <div class="col-lg-4">
          <div class="sw-title-card bg-sw-blue text-white border-0 rounded-4">
            <div class="front sw-img-bg" style="--img-url: url('assets/home/cards/social.jpg')">
              <span class="material-icons display-5">groups</span>
              <h5 class="fw-bold mb-2">Social (S)</h5>
            </div>

            <div class="content sw-v-center px-5 py-5">
              <span class="material-icons fs-3">groups</span>
              <h5 class="fw-bold mb-2"> Social</h5>
              <p class="text-justify">Evalúa cómo la empresa trata a las personas: empleados, clientes y la comunidad.
              </p>
              <ul class="mt-3small text-start">
                <li>Condiciones laborales</li>
                <li>Bienestar y seguridad del personal</li>
                <li>Diversidad e inclusión</li>
                <li>Relación con la comunidad</li>
                <li>Derechos humanos</li>
              </ul>
            </div>

          </div>
        </div>

        <!-- GOBERNANZA -->
        <div class="col-lg-4">
          <div class="sw-title-card bg-my-purple text-white border-0 rounded-4">
            <div class="front sw-img-bg" style="--img-url: url('assets/home/cards/gobernanza.jpg')">
              <span class="material-icons fs-1">account_balance</span>
              <h5 class="fw-bold mb-2">Gobernanza (G)</h5>
            </div>

            <div class="content sw-v-center px-5 py-5">
              <span class="material-icons fs-5">account_balance</span>
              <h5 class="fw-bold mb-2"> Gobernanza</h5>
              <p class="text-justify">Evalúa el liderazgo, la estructura interna, la transparencia y la ética
                corporativa.
              </p>
              <ul class="mt-3small text-start">
                <li>Ética y transparencia</li>
                <li>Cumplimiento normativo</li>
                <li>Estructura de gobierno</li>
                <li>Gestión de riesgos</li>
                <li>Anticorrupción</li>
              </ul>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- GUÍA PARA LIDERAZGO SOSTENIBLE -->
  <section class="py-3 py-md-5 bg-my-green text-white">
    <div class="container text-center my-5">

      <h2 class="fw-bold mb-3 my-sm-5 mb-md-5">
        Su Guía para el Liderazgo Sostenible
      </h2>

      <div class="row g-3  g-lg-5">

        <div class="col-md-4 px-2 px-sm-5 px-md-4 px-lg-5 sw-hover-scale">
          <div class="card shadow border-0 h-100 rounded-4 p-3 p-md-4 p-lg-5 sw-all-center py-sm-5">
            <mat-icon svgIcon="metrics" class="sw-icon icon-display-6 mb-3 mb-md-4 text-my-green">
            </mat-icon>

            <h5 class="fw-bold text-my-green mb-2 mb-md-3">
              Puntuación Global ASG
            </h5>

            <p class="small text-my-gray mb-0">
              Un número único que resume su desempeño.
            </p>
          </div>
        </div>

        <div class="col-md-4 px-2 px-md-4 px-lg-5 px-sm-5 sw-hover-scale">
          <div class="card shadow border-0 h-100 rounded-4 p-3 p-md-4 p-lg-5 sw-all-center py-sm-5">
            <span class="material-icons display-6 display-md-4 text-my-green mb-3 mb-md-4">
              comment
            </span>

            <h5 class="fw-bold text-my-green mb-2 mb-md-3">
              Recomendaciones Personalizadas
            </h5>

            <p class="small text-my-gray mb-0">
              Sugerencias específicas según su nivel (Básico, Intermedio o Avanzado) en cada ámbito.
            </p>
          </div>
        </div>

        <div class="col-md-4 px-2 px-md-4 px-lg-5 px-sm-5 sw-hover-scale">
          <div class="card shadow border-0 h-100 rounded-4 p-3 p-md-4 p-lg-5 sw-all-center py-sm-5">
            <span class="material-icons display-6 display-md-4 text-my-green mb-3 mb-md-4">
              insert_chart
            </span>

            <h5 class="fw-bold text-my-green mb-2 mb-md-3">
              Gráficas de Evolución
            </h5>

            <p class="small text-my-gray mb-0">
              Capacidad de registrar su progreso semestralmente.

            </p>
          </div>
        </div>

      </div>
    </div>
  </section>

  <section class="d-flex flex-column justify-content-center align-items-center py-5" style="height: 400px;">
    <img src="assets/logo.png" alt="MetricASG" height="80" class="mb-3">
    <h3 class="fw-bold display-5 font-logo text-my-purple mb-3 text-center fs-1">

      “ASG no es una tendencia,<br>es la evolución natural del negocio.”.
    </h3>
    <a routerLink="/login" class="btn btn-my-green fw-bold rounded-pill px-4 py-2 mt-5">
      <i class="bi bi-rocket-fill"></i> ¡Realizar Autodiagnóstico!
    </a>
  </section>
</div>