.admin-layout {
  position: relative;
  margin-top: -70px;
}


.admin-content {
  flex: 1;
  margin-left: 250px;
  min-width: 0; /* 🔑 importantísimo */
}
@media (max-width: 767px) {
  .admin-content {
    margin-left: 0;
  }
  .admin-layout{
    flex-direction: column;
  }
}

