.sw-bg-sm-white{
    background-color: rgba(255, 255, 255, 0.242);
}

.sw-gris {
    color: #7c8c6f;
}

.sw-bg-gris {
    background-color: #ce4747;
}

.sw-sticky{
    top: 0px;
    position: sticky;
    z-index: 10;
}