.navbar-brand span {
  font-size: 1.3rem;
}

.nav-link {
  
  color: #797979;
}

.nav-link.active {
  color: #000080;
}


.nav-link:hover {
  color: #96b572;
 
}

.sw-circle {
    border-radius: 45px;
}


